{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Registro</h1> 
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <input style="margin-top: 10px;" class="button" type="submit" value="Registrate">
    </form>
    <p>¿Ya tenés una cuenta? <a href="{% url 'login' %}">Logueate</a></p>
</div>

{% endblock content %}