{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Volver</a>
</div>

<div class="card-body">
    <form action="" method="POST">
        {% csrf_token %}
        <p>¿Estás seguro que querés eliminar la tarea "{{task}}"?</p>
        <input class="button" type="submit" value="Eliminar">
    </form>
</div>

{% endblock content %}