{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hola, {{request.user|title}}</h1>
        <h3 style="margin:0">Tenés <i>{{count}}</i> tarea{{ count|pluralize:"s" }} incompleta{{ count|pluralize:"s" }}</h3>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<div id="search-add-wrapper">
    <form style="margin-top: 20px; display: flex;" method="GET">
        <input type="text" name="buscador" value="{{search_input}}">
        <input class="button" type="submit" value="Buscar">
    </form>
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>  
</div>

<div class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper">
        {% if task.complete %}
        <div class="task-title">
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
        </div>
        <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
        {% else %}
        <div class="task-title">
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a>
        </div>
        <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
        {% endif %}
    </div>

    {% empty %}
    <h3>No hay tareas en la lista</h3>
    {% endfor %}
</div>

{% endblock content %}