{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Volver</a>
</div>

<div class="card-body">
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Agregar">
    </form>   
</div>

{% endblock content %}